:root {
    --bc: #E26D5C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }

body {
    background-color: var(--bc);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Tilt Neon', cursive;
   }

.container {
    width: 145vh;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 20px;
}

.timer-box {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-box {
    padding-top: 2.5vh;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20vh;
    font-family: 'Tilt Neon', cursive;   
}

.btn {
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;  
}

.btn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.btn:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

@media only screen and (max-width: 68.75em) {
    .btn {
        height: 30px;
        margin-bottom: 8px;
        width: 110px;
        margin-left: 5%;
        
    }
    .button-box {
        padding-top: 20%;
        display: flex;
    }
    .timer-box {
        padding-right: 8%;
    }
}