:root {
    --bc: #e26d5c;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    align-items: center;
    background-color: var(--bc);
    display: flex;
    font-family: 'Abyssinica SIL', serif;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  
  .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 85vh;
    padding: 20px;
    width: 145vh;
  }
  
  .timer-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    justify-content: center;
  }
  
  .timer {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: 'Abyssinica SIL', serif;
    font-size: 20rem;
    justify-content: center;
  }
  
  .button-box {
    padding-top: 2.5vh;
    display: flex;
  }
  
  .btn {
    margin-left: 5%;
    background: #fcfcfd;
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #d6d6e7;
    color: #36395a;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    height: 4.8rem;
    outline: 0;
    padding: 0 3.2rem;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
  }
  
  .btn:hover {
    box-shadow: 0px 4px 8px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-0.2rem);
  }
  
  .btn:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(0.2rem);
  }
  
  @media only screen and (max-width: 68.75em) {
    .btn {
      height: 3rem;
      margin-bottom: 0.8rem;
      margin-left: 2%;


    }
    .button-box {
      display: flex;
      padding-top: 20%;
      padding-right: 5%;

    }
    .timer-box {
      padding-right: 8%;
      padding-right: 5%;
    }
    .timer {
        font-size: 8rem;
    }
  }